<% content_for :head do %>
  <meta name="action-cable-url" content="<%= "#{ActionCable.server.config.mount_path}?connection_secret=#{@player.connection_secret}" %>">
  <%= stylesheet_link_tag 'game' %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_pack_tag :application, :game %>
<% end %>

<%= form_for [@player, @movement], url: player_card_movement_path(@player, @movement), remote: true, html: { class: "new_card_movement game_form" } do |form| %>
  <section id="pile-player-hand-<%= @player.id %>" class="pile pile__hand pile__hand__yours">
    <h2>
      <%= form.radio_button :dest_pile, "pile-player-hand-#{@player.id}", class: "pile-radio" %>
      <%= form.label :dest_pile, value: "pile-player-hand-#{@player.id}" do %>
        Your hand
      <% end %>
    </h2>

    <ul class="cards cards__spread">
      <%= render @player.hand,
        form: form,
        pile: "pile-player-hand-#{@player.id}"
      %>
    </ul>
  </section>

  <section id="pile-player-board-<%= @player.id %>" class="pile pile__board pile__board__yours">
    <h2>
      <%= form.radio_button :dest_pile, "pile-player-board-#{@player.id}", class: "pile-radio" %>
      <%= form.label :dest_pile, value: "pile-player-board-#{@player.id}" do %>
        Your board
      <% end %>
    </h2>

    <ul class="cards cards__spread">
      <%= render @player.board,
        form: form,
        pile: "pile-player-board-#{@player.id}"
      %>
    </ul>
  </section>

  <section id="pile-deck" class="pile pile__deck">
    <h2>
      <%= form.radio_button :dest_pile, "pile-deck", class: "pile-radio" %>
      <%= form.label :dest_pile, value: "pile-deck" do %>
        Deck
      <% end %>
    </h2>

    <p id="pile-deck-top" draggable="true">Size: 
      <%= form.radio_button :source, "#{@game.deck_ids.first}-in-pile-deck", class: "pile-radio" %>
      <%= form.label :source, value: "#{@game.deck_ids.first}-in-pile-deck" do -%>
        <span id="pile-deck-size"><%= @game.deck_ids.size -%></span>
      <% end -%>.
    </p>

    <section class="pile pile__deck">
      (<%= form.radio_button :dest_pile, "pile-deck-bottom", class: "pile-radio" -%>
      <%= form.label :dest_pile, value: "pile-deck-bottom" do -%>
        Bottom of the deck
      <% end -%>.)
    </section>
  </section>

  <section id="pile-discard" class="pile pile__discard">
    <h2>
      <%= form.radio_button :dest_pile, "pile-discard", class: "pile-radio" %>
      <%= form.label :dest_pile, value: "pile-discard" do %>
        Discard
      <% end %>
    </h2>

    <p>(<%= link_to t(".inspect_discard"), player_discard_path(@player), draggable: false %>)</p>

    <ul class="cards cards__stack">
      <% if @game.discard_ids.any? %>
        <%= render @game.discard.first,
          form: form,
          pile: "pile-discard"
        %>
      <% end %>
    </ul>
  </section>

  <% @player.opponents.each do |opponent| %>
    <section id="pile-player-hand-<%= opponent.id %>" class="pile pile__hand pile__hand__theirs">
      <h2>
        <%= form.radio_button :dest_pile, "pile-player-hand-#{opponent.id}", class: "pile-radio" %>
        <%= form.label :dest_pile, value: "pile-player-hand-#{opponent.id}" do %>
          <%= opponent.name %>'s hand
        <% end %>
      </h2>

      <ul class="cards cards__mask">
        <%= render partial: 'cards/masked_card',
          collection: opponent.hand_ids,
          locals: {
            form: form,
            pile: "pile-player-hand-#{opponent.id}",
          } %>
      </ul>
    </section>

    <section id="pile-player-board-<%= opponent.id %>" class="pile pile__board pile__board__theirs">
      <h2>
        <%= form.radio_button :dest_pile, "pile-player-board-#{opponent.id}", class: "pile-radio" %>
        <%= form.label :dest_pile, value: "pile-player-board-#{opponent.id}" do %>
          <%= opponent.name %>'s board
        <% end %>
      </h2>

      <ul class="cards cards__spread">
        <%= render opponent.board,
          form: form,
          pile: "pile-player-board-#{opponent.id}"
        %>
      </ul>
    </section>
  <% end %>

  <%= form.submit t(".move_button") %>

  <template id="template-card">
    <%= render DummyCard.new,
        form: form,
        pile: "pile-dummy"
      %>
  </template>

  <template id="template-masked-card">
    <%= render partial: 'cards/masked_card',
      locals: {
        masked_card: "dummy",
        form: form,
        pile: "pile-dummy",
    } %>
  </template>
<% end %>
